<p id="notice"><%= notice %></p>

<%= container_tag do %>
  <h1><%= @user.infos %></h1>
<% end %>

<%= container_3_tag @user.badges.uniq, rows: {cols: {class: 'text-center'}} do |badge| %>
  <h2><%= badge.name %></h2>
  <div class="symbol">
    <%= fa_icon badge.fa_symbol %>
  </div>
<% end %>

<%= container_tag id: 'links', class: 'text-center' do %>
  <%= btn_to 'Edit', edit_user_path(@user) %>
  <%= btn_to 'Back', users_path %>
<% end %>
